<head>
<title>Console</title>
</head>

<template name="layout">
	<header>
		<div id="header-container" class="wrapper">
			<h3 id="title">Admin Console</h3>
			<img id="logo" src="/images/Audi-Logo_2016.svg"/>
		</div>
		<div style="background: black">
			<img src="/images/stage.jpg" width="100%">
		</div>
		<div id="navigator" class="wrapper">
			<a href="/">Vehicles</a>
			<a href="/users">Users</a>
		</div>
	</header>

	<main id="main" class="wrapper">
		{{> yield}}
	</main>
</template>

<template name="notFound">
	<div>
		<h1>Not yet implemented.</h1>
	</div>
</template>

<template name="loading">
	<div>
		<h1>Loading content</h1>
	</div>
</template>
