<template name="users" >
  <h1>Users</h1>
  <div>
    <table class="table" cellspacing="0">
       <thead>
         <tr>
           <th>Id</th>
           <th>Name</th>
           <th>Email</th>
           <th>Birthday</th>
         </tr>
       </thead>
       <tbody>
  {{#each userList}} {{> user}} {{/each}}
</tbody>
</table>
</div>
</template>

<template name="user">
    <tr>
        <td>
          {{id}}
        </td>
        <td>
          {{firstName}} {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
           {{formatTime birthday}}
        </td>
    </tr>
</template>
