<template name="users" >
  <h1>Users</h1>
  {{> actionBar context}}
  <div>
    <table class="table" cellspacing="0">
       <thead>
         <tr>
           <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email</th>
           <th>Birthday</th>
         </tr>
       </thead>
       <tbody>
  {{#each userList}} {{> user}} {{/each}}
</tbody>
</table>
</div>
</template>

<template name="user">
    <tr>
        <td>
          {{id}}
        </td>
        <td>
          <input type="text" name="firstName" value="{{firstName}}">
        </td>
        <td>
        <input type="text" name="lastName" value="{{lastName}}">
        </td>
        <td>
          <input type="text" name="email" value="{{email}}">
        </td>
        <td>
          <input type="text" name="birthday" value="{{formatTime birthday}}">
        </td>
    </tr>
</template>
