<template name="users" >
  <h1>Users</h1>
  <div class="actionBar">
      <a href="/insert-user">insert</a>
      <a href='' id="search">search</a>
      <input id="searchInput" type="text" name="search" value="{{query}}" placeholder="e.g James" style="width: 0%; display: none"/>
      <a href="/prev-user">previous</a>
      <a href="/next-user">next</a>
  </div>
  <div>
    <table class="table" cellspacing="0">
       <thead>
         <tr>
           <th>Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>Email</th>
           <th>Birthday</th>
         </tr>
       </thead>
       <tbody>
  {{#each userList}} {{> user}} {{/each}}
</tbody>
</table>
</div>
</template>

<template name="user">
    <tr>
        <td>
          {{id}}
        </td>
        <td>
          <input type="text" name="firstName" value="{{firstName}}">
        </td>
        <td>
        <input type="text" name="lastName" value="{{lastName}}">
        </td>
        <td>
          <input type="text" name="email" value="{{email}}">
        </td>
        <td>
          <input type="text" name="birthday" value="{{formatTime birthday}}">
        </td>
    </tr>
</template>
