<template name="vehicles" >
  <h1>Vehicles</h1>
  <div class="actionBar">
      <a href="/insert-vehicle">insert</a>
      <a href="/search-vehicle">search</a>
      <a href="/prev-vehicle">previous</a>
      <a href="/next-vehicle">next</a>
  </div>
  <div>
    <table class="table" cellspacing="0">
       <thead>
         <tr>
           <th>Id</th>
           <th>vin</th>
           <th>License plate</th>
           <th>Model</th>
           <th>Active</th>
           <th>Color</th>
           <th>Expiration</th>
         </tr>
       </thead>
       <tbody>
  {{#each vehicleList}} {{> vehicle}} {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="vehicle">
    <tr>
        <td>
          {{id}}
        </td>
        <td>
          <input type="text" name="vin" value="{{vin}}">
        </td>
        <td>
          <input type="text" name="licensePlate" value="{{licensePlate}}">
        </td>
        <td>
           <input type="text" name="model" value="{{model}}">
        </td>
        <td>
          <input type="text" name="active" value="{{active}}">
        </td>
        <td>
          <input type="text" name="color" value="{{color}}">
        </td>
        <td>
          <input type="text" name="validTill" value="{{formatTime validTill "fromNow"}}">
        </td>
    </tr>
</template>
