<template name="vehicles" >
  <h1>Vehicles</h1>
  <div>
    <table class="table" cellspacing="0">
       <thead>
         <tr>
           <th>Id</th>
           <th>vin</th>
           <th>License plate</th>
           <th>Model</th>
           <th>Active</th>
           <th>Color</th>
           <th>Expiration</th>
         </tr>
       </thead>
       <tbody>
  {{#each vehicleList}} {{> vehicle}} {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="vehicle">
    <tr>
        <td>
          {{id}}
        </td>
        <td>
          {{vin}}
        </td>
        <td>
          {{licensePlate}}
        </td>
        <td>
           {{model}}
        </td>
        <td>
          {{active}}
        </td>
        <td>
          {{color}}
        </td>
        <td>
          {{formatTime validTill "fromNow"}}
        </td>
    </tr>
</template>
